<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">


<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>
<div class="container text-center">
    <div>
        <div>
            <header> <h1>Menu</h1></header>
            <br><br>
            <div class="text-center">
                <form th:action="@{/creat-meeting}">
                    <input type="submit"  value="Create Meeting">
                </form>
            </div>
            <br><br>
            <div class="text-center">
                <form th:action="@{/delete-meeting}">
                    <input type="submit"  value="Delete Meeting">
                </form>
            </div>
            <br><br>
            <div class="text-center">
                <form th:action="@{/add-person}">
                    <input type="submit"  value="Add Person To The Meeting">
                </form>
            </div>
            <br><br>
            <div class="text-center">
                <form th:action="@{/delete-person}">
                    <input type="submit"  value="Delete Person From The Meeting">
                </form>
            </div>
            <br><br>
            <div class="text-center">
                <form th:action="@{/meeting-list}">
                    <input type="submit"  value="All Meetings">
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>